@import '../assets/css/colors.scss';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  color: $c-text;
  text-decoration: none;
  background-color: $bg-color;
  padding: 0.5rem;
  border-radius: 10px;
  margin-top: 1rem;
}